html{
  height:100%;
}
body {
  color: #FFFFFF;
  font-family: "a-otf-midashi-go-mb31-pr6n",'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W6', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  height:100%;
  margin: 0;
}

a {
  color: #FFFFFF;
}
/*
a:link { color: #FFFFFF; }
a:visited { color: #FFFFFF; }
a:hover { color: #FFFFFF; }
a:active { color: #FFFFFF; }
*/

.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

ul.side {
  display: flex;
  flex-wrap: wrap;
}
ul.side li {
  list-style-type: none;
}

.contents {
  flex: 1 0 auto; /*MDF*/
}

.footer {
  background-color: #333333;
  /*border: 1px solid white;*/
  height: 2vh;
  justify-content: flex-end;
  margin-bottom: 0;
  position: relative;
}
.footer ul {
  align-items: stretch;
  margin: 0;
  padding: 0;
}

#container {
  /*border: 1px solid white;*/
  margin: 0;
  min-height: 99vh;
  position: relative;
}

#logo_main {
  flex-basis: 768px;
  margin-left: 1vw;
  max-width: 768px;
}

#langs {
  align-self: flex-start;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 2px;
  padding-left: 0;
}

#langs > li {
  /*border-left: 1px solid white;*/
  padding: 0 5px;
}

#explanation {
  /*flex: 1;*/
  font-size: 1.1em;
  margin-left: 2vw;
  /*max-width: 650px;*/
}

#new {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 1vh;
  margin-left: auto;
  position: relative;
  text-align: right;
}

.links_a{
  display: block;
}

.links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.links li {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 2vw;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 300px;
}

.links li:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

.links li a {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .links li {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .links {
    align-items: center;
    margin-bottom: 0;
    width: 100%;
  }

  #logo_main {
    width: 100%;
  }

  /* ボタン幅とテキスト幅を揃えたかった名残
  #explanation {
  widows: 300px;
  margin-left: auto;
  margin-right: auto;
  }
  */
}
/*
.footer li {
  height: 5vh;
  background-color: #1A1A1A;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer li:hover {
  background-color: #333333;
}
.footer li .nav {
  height: 3vh;
  max-width: 50vw;
  padding: 2 0;
}
.footer .nav_logo {
  position: absolute;
  opacity: 0;
  width: 0;
}
*/

/* ハンバーガーメニュー用 */
.hamburger {
  /*右端に表示*/
  align-items: flex-end;
}

.hamburger_button {
  /*ボタンを枠で囲うとクリック率が上がるらしいですよ*/
  border: solid 1px #ffffff;
  border-radius: 3px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  /*大きい画面の場合はボタンを表示せずに，
  リンクを横並びに表示*/
  .hamburger_button {
    display: none;
  }

  .hamburger nav {
    display: block;
  }

  .hamburger ul {
    /*li要素を横並びに表示する方法は色々ありますが，
    flexboxを使うのがいい感じだと僕は思います*/
    flex-direction: row;
  }
  .hamburger li {
    padding: 0 5px;
  }
}

@media screen and (max-width: 768px) {
  /*画面が小さい場合はボタンを表示し，
  ボタンクリックでボタンの下にリストを表示させる
  リストの位置の指定はjsで行っています*/
  body {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 3px;
  }

  .hamburger_button {
    padding: 1px 5px;
    text-align: right;
    width: auto;
  }

  .hamburger nav {
    display: none;
    padding: 0 0;
    width: 100%;
  }

  .hamburger ul {
    flex-direction: column;
    margin: 0;
    padding-left: 0;
  }

  .hamburger li {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 10px 3px;
    text-align: right;
  }

  .hamburger li:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .hamburger li a {
    color: #000000;
    text-decoration: none;
  }
}
